/* CSS declarations go here */
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400');
form {
    width: 100%;

}


html,
body {
    margin: 0;
    padding: 0;
    font-family: "Source Sans Pro";
}

h1, .navbar a.navbar-brand, .navbar a.navbar-brand:hover, p, .fa.fa-spinner, .navbar a.navbar-brand:visited {
    color: #fffaea;
}


body {
    background-color: #334E58;
    background: radial-gradient(ellipse at center, rgba(107,109,118,1)  10%, rgba(51,78,88,1) 100%);
}

#stars {
    display: block;
    position: absolute;
    width: 100%;
    height: 160rem;
    height: 100vh;
    z-index: 1;
}

.appContent a, .appContent form, .appContent h1, .appContent p, .appContent ul li, .appContent .fa, input {
    z-index: 1000;
}

.form-group {
    width: 50%;
    margin-right: auto;
    margin-left: auto;
}

.btn.btn-primary {
    background-color: #8F9EA3;
    border-color: #8F9EA3;
}

.container.waitingCnt {
    margin-top: 20%;
}


.list-group {
    margin: 0 auto;
}
.mainCnt form {
    margin-top: 20%;
}


.fa.fa-spinner {
    margin-bottom: 30px;
}


.progress-bar {
    background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(0, 0, 0, 0.15) 75%, transparent 75%, transparent);;
}

#progress {
    width: 50%;
    margin: 0 auto;
}

.progressbarLabel {
    font-size: 50px;
}